<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="customer" class="control-label">
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                    </label>
                                    <ui-select id="customer"
                                               ng-model="contract.customer"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر العميل">
                                            <span ng-if="contract.customer.id">
                                                <span ng-if="lang==='AR'">[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="customer in customers | filter: $select.search | orderBy:'code' track by customer.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="customer.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+customer.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+customer.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="seller" class="control-label">
                                        <span ng-if="lang==='AR'">التاجر</span>
                                        <span ng-if="lang==='EN'">Seller</span>
                                    </label>
                                    <ui-select id="seller"
                                               ng-model="contract.supplier"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر التاجر">
                                            <span ng-if="contract.supplier.id">
                                                <span ng-if="lang==='AR'">[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="supplier in suppliers | filter: $select.search | orderBy:'code' track by supplier.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="supplier.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+supplier.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+supplier.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>