<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="customer" class="control-label">
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                        <a href="" ng-click="newCustomer()">
                                            <strong ng-if="lang==='AR'">عميل جديد...</strong>
                                            <strong ng-if="lang==='EN'">New Customer...</strong>
                                        </a>
                                    </label>
                                    <ui-select id="customer"
                                               ng-model="contract.customer"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="{{lang==='AR' ? 'اختر العميل...' : 'Select Customer...'}}">
                                            <span ng-if="contract.customer.id">
                                                <span>[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="customer in customers | filter: $select.search | orderBy:'code' track by customer.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="customer.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+customer.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+customer.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="seller" class="control-label">
                                        <span ng-if="lang==='AR'">التاجر</span>
                                        <span ng-if="lang==='EN'">Seller</span>
                                        <a href="" ng-click="newSupplier()">
                                            <strong ng-if="lang==='AR'">تاجر جديد...</strong>
                                            <strong ng-if="lang==='EN'">New Seller...</strong>
                                        </a>
                                    </label>
                                    <ui-select id="seller"
                                               ng-model="contract.supplier"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="{{lang==='AR' ? 'اختر التاجر...' : 'Select Seller Man...'}}">
                                            <span ng-if="contract.supplier.id">
                                                <span>[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="supplier in suppliers | filter: $select.search | orderBy:'code' track by supplier.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="supplier.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+supplier.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+supplier.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="registerDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ العقد</span>
                                        <span ng-if="lang==='EN'">Contract Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="registerDate"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="contract.registerDate"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-registerDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ العقد</span>
                                        <span ng-if="lang==='EN'">Contract Date</span>
                                    </label>
                                    <input id="G-registerDate"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="contract.registerDate"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="startPaymentDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ بداية الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Start Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="startPaymentDate"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="contract.startPaymentDate"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-startPaymentDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ بداية الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Start Date</span>
                                    </label>
                                    <input id="G-startPaymentDate"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="contract.startPaymentDate"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="importance" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة السداد</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="importance"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="contract.aqsatMethod">
                                        <option ng-if="lang==='AR'" value="Monthly">شهري</option>
                                        <option ng-if="lang==='EN'" value="Monthly">Monthly</option>
                                        <option ng-if="lang==='AR'" value="Annual">سنوي</option>
                                        <option ng-if="lang==='EN'" value="Annual">Annual</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="amount" class="control-label">
                                        <span ng-if="lang==='AR'">قيمة العقد</span>
                                        <span ng-if="lang==='EN'">Contract Amount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="amount">
                                        <span class="input-group-addon">SAR</span>
                                        <input dir="rtl"
                                               type="number"
                                               min="1"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control "
                                               ng-model="contract.amount">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>