<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="customer" class="control-label">
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                        <a href="" ng-click="newCustomer()">
                                            <strong ng-if="lang==='AR'">عميل جديد...</strong>
                                            <strong ng-if="lang==='EN'">New Customer...</strong>
                                        </a>
                                    </label>
                                    <ui-select id="customer"
                                               ng-model="contract.customer"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="{{lang==='AR' ? 'اختر العميل...' : 'Select Customer...'}}">
                                            <span ng-if="contract.customer.id">
                                                <span>[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="customer in customers | filter: $select.search | orderBy:'code' track by customer.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="customer.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+customer.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+customer.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="seller" class="control-label">
                                        <span ng-if="lang==='AR'">التاجر</span>
                                        <span ng-if="lang==='EN'">Seller</span>
                                        <a href="" ng-click="newSupplier()">
                                            <strong ng-if="lang==='AR'">تاجر جديد...</strong>
                                            <strong ng-if="lang==='EN'">New Seller...</strong>
                                        </a>
                                    </label>
                                    <ui-select id="seller"
                                               ng-model="contract.supplier"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="{{lang==='AR' ? 'اختر التاجر...' : 'Select Seller Man...'}}">
                                            <span ng-if="contract.supplier.id">
                                                <span>[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="supplier in suppliers | filter: $select.search | orderBy:'code' track by supplier.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="supplier.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+supplier.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+supplier.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="registerDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ العقد</span>
                                        <span ng-if="lang==='EN'">Contract Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="registerDate"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="contract.registerDate"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-registerDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ العقد</span>
                                        <span ng-if="lang==='EN'">Contract Date</span>
                                    </label>
                                    <input id="G-registerDate"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="contract.registerDate"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="startPaymentDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ بداية الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Start Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="startPaymentDate"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="contract.startPaymentDate"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-startPaymentDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ بداية الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Start Date</span>
                                    </label>
                                    <input id="G-startPaymentDate"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="contract.startPaymentDate"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="aqsatMethod" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة السداد</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="aqsatMethod"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="contract.aqsatMethod">
                                        <option ng-if="lang==='AR'" value="Monthly">شهري</option>
                                        <option ng-if="lang==='EN'" value="Monthly">Monthly</option>
                                        <option ng-if="lang==='AR'" value="Half">نصف سنوي</option>
                                        <option ng-if="lang==='EN'" value="Half">Half</option>
                                        <option ng-if="lang==='AR'" value="Annual">سنوي</option>
                                        <option ng-if="lang==='EN'" value="Annual">Annual</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="amount" class="control-label">
                                        <span ng-if="lang==='AR'">قيمة العقد</span>
                                        <span ng-if="lang==='EN'">Contract Amount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="amount">
                                        <span class="input-group-addon">SAR</span>
                                        <input dir="rtl"
                                               type="number"
                                               min="1"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control "
                                               ng-model="contract.amount">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="goodsType" class="control-label">
                                        <span ng-if="lang==='AR'">نوع البضاعة</span>
                                        <span ng-if="lang==='EN'">Goods Type</span>
                                    </label>
                                    <select id="goodsType"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="contract.goodsType">
                                        <option ng-if="lang==='AR'" value="Shares">اسهم</option>
                                        <option ng-if="lang==='EN'" value="Shares">Shares</option>
                                        <option ng-if="lang==='AR'" value="Half_Shares">نصف سهم</option>
                                        <option ng-if="lang==='EN'" value="Half_Shares">Half Shares</option>
                                        <option ng-if="lang==='AR'" value="Cars">سيارات</option>
                                        <option ng-if="lang==='EN'" value="Cars">Cars</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="goodsCount" class="control-label">
                                        <span ng-if="lang==='AR'">عدد البضاعة</span>
                                        <span ng-if="lang==='EN'">Goods Count</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="goodsCount">
                                        <span class="input-group-addon">وحدة</span>
                                        <input dir="rtl"
                                               type="number"
                                               min="1"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control "
                                               ng-model="contract.goodsCount">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="action=='create'">
                <input id="uploader" style="display: none" type="file" onchange="angular.element(this).scope().initFiles(this.files);" multiple/>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])"
                                   ng-click="uploadFiles()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'مرفق جديد' : 'New Attachment...'}}">
                                    <span class="fa fa-paperclip"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])"
                                   ng-click="scanToJpg()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'فحص ملف' : 'Scan File...'}}">
                                    <span class="fa fa-file-image-o"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">المرفقات والمستندات</h3>
                            <h3 ng-if="lang==='EN'">Documents & Attachments</h3>
                            <span ng-if="lang==='AR'">صورة من العقد واي ملفات اخرى</span>
                            <span ng-if="lang==='EN'">Contract File And Other Files</span>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">م</span>
                                            <span ng-if="lang==='EN'">#</span>
                                        </th>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">اسم الملف</span>
                                            <span ng-if="lang==='EN'">File Name</span>
                                        </th>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">حجم الملف</span>
                                            <span ng-if="lang==='EN'">File Size</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="wrapper in wrappers"
                                        ng-class="{'success':wrapper.link, 'danger' : !wrapper.link}">
                                        <td>{{$index+1}}</td>
                                        <td>{{wrapper.name}}</td>
                                        <td>{{wrapper.size/1024/1024|number:2}} MB</td>
                                    </tr>
                                    <tr class="blank_row"
                                        style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!wrappers || wrappers.length ==0">
                                        <td colspan="3">
                                            <span ng-if="lang==='AR'">فضلاً قم برفع الملفات</span>
                                            <span ng-if="lang==='EN'">Please Upload Files.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>