<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong ng-if="lang==='AR'">تسديد دفعة جديدة للعقد رقم /  </strong>
                <strong ng-if="lang==='EN'">New Payment For Contract Number \  </strong>
                <strong>{{contractReceipt.contract.code}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">بيانات العقد</h3>
                            <h3 ng-if="lang==='EN'">Contract Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">رقم العقد</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </td>
                                    <td>{{contractReceipt.contract.code}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">تاريخ العقد</span>
                                        <span ng-if="lang==='EN'">Contract Date</span>
                                    </td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{contractReceipt.contract.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{contractReceipt.contract.registerDate | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{contractReceipt.contract.registerDate | date:'h:m a'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                    </td>
                                    <td>{{contractReceipt.contract.customer.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">التاجر</span>
                                        <span ng-if="lang==='EN'">Seller</span>
                                    </td>
                                    <td>{{contractReceipt.contract.supplier.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">قيمة العقد</span>
                                        <span ng-if="lang==='EN'">Contract Cost</span>
                                    </td>
                                    <td>{{contractReceipt.contract.amount}} SAR</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">المدفوع</span>
                                        <span ng-if="lang==='EN'">Paid</span>
                                    </td>
                                    <td>{{contractReceipt.contract.paid}} SAR</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">الباقي</span>
                                        <span ng-if="lang==='EN'">Remain</span>
                                    </td>
                                    <td>{{contractReceipt.contract.remain}} SAR</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات المطلوبة</h3>
                            <h3 ng-if="lang==='EN'">Required Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="code" class="control-label">
                                        <span ng-if="lang==='AR'">رقم السند</span>
                                        <span ng-if="lang==='EN'">Payment Code</span>
                                    </label>
                                    <input id="code"
                                           type="number"
                                           required=""
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="contractReceipt.receipt.code">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="amountNumber" class="control-label">
                                        <span ng-if="lang==='AR'">المبلغ المدفوع</span>
                                        <span ng-if="lang==='EN'">Payment</span>
                                    </label>
                                    <input id="amountNumber"
                                           type="number"
                                           ng-min="0"
                                           ng-max="contractReceipt.contract.remain"
                                           required=""
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="contractReceipt.receipt.amountNumber">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="paymentMethod" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="paymentMethod"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="contractReceipt.receipt.paymentMethod">
                                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                                        <option ng-if="lang==='EN'" value="Check">Check</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label for="checkCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الشيك</span>
                                        <span ng-if="lang==='EN'">Check Code</span>
                                    </label>
                                    <input id="checkCode"
                                           type="number"
                                           ng-required="contractReceipt.receipt.paymentMethod==='Check'"
                                           ng-disabled="contractReceipt.receipt.paymentMethod!=='Check'"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="contractReceipt.receipt.checkCode">
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="description" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات الدفع</span>
                                    <span ng-if="lang==='EN'">Payment Notes</span>
                                </label>
                                <textarea id="description"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="contractReceipt.receipt.note">
                                    </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">save</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>