<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">

        <div class="row">
            <ul class="breadcrumb">
                <li ng-repeat="item in items | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'">{{item.name}}</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
                 class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <button id="contract-view-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span ng-if="lang==='AR'">عرض البيانات</span>
                    <span ng-if="lang==='EN'">View Data</span>
                </button>
                <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                    class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                    for="contract-view-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findAllContracts()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">كل العقود</span>
                            <span ng-if="lang==='EN'">View All Contracts</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findContractsByToday()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">عقود اليوم</span>
                            <span ng-if="lang==='EN'">Contracts For Today</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findContractsByWeek()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">عقود الاسبوع</span>
                            <span ng-if="lang==='EN'">Contracts For Week</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findContractsByMonth()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">عقود الشهر</span>
                            <span ng-if="lang==='EN'">Contracts For Month</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findContractsByYear()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">عقود العام</span>
                            <span ng-if="lang==='EN'">Contracts For Year</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'active':toggleList===1}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">reorder</i>
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'active':toggleList===2}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">view_column</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])"
                       ng-click="newContract()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب عقد جديد' : 'New Contract...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة العقود</h3>
                <h3 ng-if="lang==='EN'">Contracts List</h3>
                <span ng-if="lang==='AR'">عرض مختصر لبيانات العقود والحسابات المالية</span>
                <span ng-if="lang==='EN'">Short Review For Contract Information</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row">

                <ul id="accordion-1"
                    class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical mdlext-js-ripple-effect"
                    role="tablist" aria-multiselectable="true">

                    <li class="mdlext-accordion__panel" role="presentation">
                        <header class="mdlext-accordion__tab" role="tab" aria-expanded="false">
                            <i class="material-icons">search</i>
                            <span class="mdlext-accordion__tab__caption">
                                            <span ng-if="lang==='AR'">بحث متعدد</span>
                                            <span ng-if="lang==='EN'">Multiple Search</span>
                                        </span>
                        </header>
                        <section class="mdlext-accordion__tabpanel" role="tabpanel" aria-hidden="true">

                            <div class="form-group row">

                                <form name="form"
                                      ng-submit="filter()"
                                      novalidate="novalidate"
                                      focus-group=""
                                      focus-stack=""
                                      focus-group-head="loop"
                                      focus-group-tail="loop">

                                    <div class="row">

                                        <div class="form-group row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="contractCode" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم العقد</span>
                                                    <span ng-if="lang==='EN'">Code</span>
                                                </label>
                                                <input id="contractCode"
                                                       type="number"
                                                       class="form-control"
                                                       ng-model="param.contractCode">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="dateType==='H'">
                                                <label for="registerDateFrom" class="control-label">
                                                    <span ng-if="lang==='AR'">تاريخ العقد من</span>
                                                    <span ng-if="lang==='EN'">Contract Date From</span>
                                                </label>
                                                <div dir="ltr" class="input-group">
                                                    <input dir="rtl"
                                                           id="registerDateFrom"
                                                           type="text"
                                                           class="form-control is-calendarPicker"
                                                           ng-model="param.registerDateFrom"
                                                           calendarType="ummalqura"
                                                           language="en"
                                                           dateFormat="yyyy/mm/dd"
                                                           showOnFocus="false"
                                                           readonly="readonly"
                                                           kdatepicker>
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="dateType==='G'">
                                                <label for="G-registerDateFrom" class="control-label">
                                                    <span ng-if="lang==='AR'">تاريخ العقد من</span>
                                                    <span ng-if="lang==='EN'">Contract Date From</span>
                                                </label>
                                                <input id="G-registerDateFrom"
                                                       class="form-control "
                                                       type="date"
                                                       name="input"
                                                       ng-model="param.registerDateFrom"
                                                       placeholder="yyyy-MM-dd"
                                                       min="2017-01-01"
                                                       max="2030-12-31"/>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="dateType==='H'">
                                                <label for="registerDateTo" class="control-label">
                                                    <span ng-if="lang==='AR'">تاريخ العقد إلى</span>
                                                    <span ng-if="lang==='EN'">Contract Date To</span>
                                                </label>
                                                <div dir="ltr" class="input-group">
                                                    <input dir="rtl"
                                                           id="registerDateTo"
                                                           type="text"
                                                           class="form-control is-calendarPicker"
                                                           ng-model="param.registerDateTo"
                                                           calendarType="ummalqura"
                                                           language="en"
                                                           dateFormat="yyyy/mm/dd"
                                                           showOnFocus="false"
                                                           readonly="readonly"
                                                           kdatepicker>
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="dateType==='G'">
                                                <label for="G-registerDateTo" class="control-label">
                                                    <span ng-if="lang==='AR'">تاريخ العقد إلى</span>
                                                    <span ng-if="lang==='EN'">Contract Date To</span>
                                                </label>
                                                <input id="G-registerDateTo"
                                                       class="form-control "
                                                       type="date"
                                                       name="input"
                                                       ng-model="param.registerDateTo"
                                                       placeholder="yyyy-MM-dd"
                                                       min="2017-01-01"
                                                       max="2030-12-31"/>
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="customerName" class="control-label">
                                                    <span ng-if="lang==='AR'">اسم العميل</span>
                                                    <span ng-if="lang==='EN'">Customer Name</span>
                                                </label>
                                                <input id="customerName"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.customerName">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="customerMobile" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم جوال العميل</span>
                                                    <span ng-if="lang==='EN'">Customer Mobile</span>
                                                </label>
                                                <input id="customerMobile"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.customerMobile">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="customerIdentityNumber" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم بطاقة العميل</span>
                                                    <span ng-if="lang==='EN'">Customer Identity Number</span>
                                                </label>
                                                <input id="customerIdentityNumber"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.customerIdentityNumber">
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="supplierName" class="control-label">
                                                    <span ng-if="lang==='AR'">اسم التاجر</span>
                                                    <span ng-if="lang==='EN'">Seller Name</span>
                                                </label>
                                                <input id="supplierName"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.supplierName">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="supplierMobile" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم جوال التاجر</span>
                                                    <span ng-if="lang==='EN'">Seller Mobile</span>
                                                </label>
                                                <input id="supplierMobile"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.supplierMobile">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label for="supplierIdentityNumber" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم بطاقة التاجر</span>
                                                    <span ng-if="lang==='EN'">Seller Identity Number</span>
                                                </label>
                                                <input id="supplierIdentityNumber"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="param.supplierIdentityNumber">
                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                            <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                                                    tooltip-append-to-body="true"
                                                    type="submit"
                                                    class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                                                    tooltip-append-to-body="true"
                                                    type="reset"
                                                    ng-click="form.$setPristine();param={};"
                                                    class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>

                                    </div>

                                </form>

                            </div>

                        </section>
                    </li>

                </ul>

            </div>

            <div class="form-group row">

                <input id="uploader" style="display: none" type="file" onchange="angular.element(this).scope().initFiles(this.files);" multiple/>

                <div class="table-responsive">
                    <table st-table="collection" st-safe-src="contracts"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span>#</span>
                            </th>

                            <th st-sort="code">
                                <span ng-if="lang==='AR'">رقم العقد</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th st-sort="registerDate">
                                <span ng-if="lang==='AR'">تاريخ العقد</span>
                                <span ng-if="lang==='EN'">Date</span>
                            </th>

                            <th st-sort="amount" class="danger">
                                <span ng-if="lang==='AR'">قيمة العقد</span>
                                <span ng-if="lang==='EN'">Value</span>
                            </th>

                            <th st-sort="aqsatMethod">
                                <span ng-if="lang==='AR'">طريقة الدفع</span>
                                <span ng-if="lang==='EN'">Payment Method</span>
                            </th>

                            <th st-sort="goodsType">
                                <span ng-if="lang==='AR'">نوع البضاعة</span>
                                <span ng-if="lang==='EN'">Goods Type</span>
                            </th>

                            <th st-sort="goodsCount">
                                <span ng-if="lang==='AR'">كمية البضاعة</span>
                                <span ng-if="lang==='EN'">Goods Count</span>
                            </th>

                            <th st-sort="customer.name">
                                <span ng-if="lang==='AR'">العميل</span>
                                <span ng-if="lang==='EN'">Customer</span>
                            </th>

                            <th st-sort="supplier.name">
                                <span ng-if="lang==='AR'">التاجر</span>
                                <span ng-if="lang==='EN'">Seller</span>
                            </th>

                            <th st-sort="paid" class="info">
                                <span ng-if="lang==='AR'">المدفوع</span>
                                <span ng-if="lang==='EN'">Paid</span>
                            </th>

                            <th st-sort="remain" class="warning">
                                <span ng-if="lang==='AR'">الباقي</span>
                                <span ng-if="lang==='EN'">Remain</span>
                            </th>

                        </tr>
                        <tr>
                            <th colspan="11">
                                <input st-search=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                       type="text"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contract in collection"
                            st-select-mode="single"
                            context-menu="rowMenu"
                            ng-click="setSelected(contract)"
                            ng-right-click="setSelected(contract)">
                            <td st-select-row-custom="contract">{{$index+1}}</td>
                            <td st-select-row-custom="contract">{{contract.code}}</td>
                            <td st-select-row-custom="contract">
                                <span ng-show="dateType==='H'">{{contract.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{contract.registerDate | date: 'yyyy-MM-dd'}}</span>
                                <span class="label label-success">{{contract.registerDate | date:'h:m a'}}</span>
                            </td>
                            <td st-select-row-custom="contract" class="danger">{{contract.amount}} SAR</td>
                            <td st-select-row-custom="contract">
                                <span ng-if="lang==='AR'">{{contract.aqsatMethodInArabic}}</span>
                                <span ng-if="lang==='EN'">{{contract.aqsatMethod}}</span>
                            </td>
                            <td st-select-row-custom="contract">
                                <span ng-if="lang==='AR'">{{contract.goodsTypeInArabic}}</span>
                                <span ng-if="lang==='EN'">{{contract.goodsType}}</span>
                            </td>
                            <td st-select-row-custom="contract">{{contract.goodsCount}}</td>
                            <td st-select-row-custom="contract">{{contract.customer.name}}</td>
                            <td st-select-row-custom="contract">{{contract.supplier.name}}</td>
                            <td st-select-row-custom="contract" class="info">{{contract.paid}} SAR</td>
                            <td st-select-row-custom="contract" class="warning">{{contract.remain}} SAR</td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection || collection.length ==0">
                            <td colspan="11">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="panel-footer">

            <div class="row">

                <h3 class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4 box-danger" ng-if="totalAmount>=0">
                    <span ng-if="lang==='AR'">إجمالي العقود</span>
                    <span ng-if="lang==='EN'">Total Contract Prices: </span>
                    <span>{{totalAmount}} SAR</span>
                </h3>

                <h3 class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4 box-info" ng-if="totalPayments>=0">
                    <span ng-if="lang==='AR'">إجمالي المدفوع</span>
                    <span ng-if="lang==='EN'">Total Contract Payments: </span>
                    <span>{{totalPayments}} SAR</span>
                </h3>

                <h3 class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4 box-warning" ng-if="totalRemain>=0">
                    <span ng-if="lang==='AR'">إجمالي الباقي</span>
                    <span ng-if="lang==='EN'">Total Contract Remain: </span>
                    <span>{{totalRemain}} SAR</span>
                </h3>

            </div>

        </div>
    </div>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div st-table="collection" st-safe-src="contracts">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="contract in collection">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img width="100" height="100"
                             src="/ui/img/no-image.jpg"
                             alt="{{contract.code}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">
                            <span>العميل / </span>
                            {{contract.customer.name}}
                        </div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                        <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info">
                        <p>
                            <strong ng-if="lang==='AR'">التاجر</strong>
                            <strong ng-if="lang==='EN'">Seller</strong>
                            {{contract.supplier.name}}
                        </p>
                        <hr/>
                        <p>
                            <strong ng-if="lang==='AR'">قيمة العقد</strong>
                            <strong ng-if="lang==='EN'">Contract Amount</strong>
                            {{contract.amount}} SAR
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="{{lang==='AR' ? 'انشاء عقد جديد' : 'New...'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_CREATE'])"
                                ng-click="newContract();"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">add</i>
                        </button>
                        <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_UPDATE'])"
                                ng-click="ModalProvider.openContractUpdateModel(contract)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">edit</i>
                        </button>
                        <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_CONTRACT_DELETE'])"
                                ng-click="delete(contract)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
</div>