<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong ng-if="lang==='AR' && receiptType==='In'">إنشاء سند قبض جديد</strong>
                <strong ng-if="lang==='AR' && receiptType==='Out'">إنشاء سند صرف جديد</strong>
                <strong ng-if="lang==='EN' && receiptType==='In'">Create Receipt In</strong>
                <strong ng-if="lang==='EN' && receiptType==='Out'">Create Receipt Out</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="seller" class="control-label">
                                        <span ng-if="lang==='AR'">التاجر</span>
                                        <span ng-if="lang==='EN'">Seller</span>
                                        <a href="" ng-click="newSupplier()">
                                            <strong ng-if="lang==='AR'">تاجر جديد...</strong>
                                            <strong ng-if="lang==='EN'">New Seller...</strong>
                                        </a>
                                    </label>
                                    <ui-select id="seller"
                                               ng-model="supplierReceipt.supplier"
                                               required=""
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="{{lang==='AR' ? 'اختر التاجر...' : 'Select Seller Man...'}}">
                                            <span ng-if="supplierReceipt.supplier.id">
                                                <span>[{{$select.selected.code}}] {{$select.selected.name}}</span>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="supplier in suppliers | filter: $select.search | orderBy:'code' track by supplier.id">
                                            <div ng-if="lang==='AR'" ng-bind-html="supplier.name | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم الجوال : </span>
                                                <span ng-if="lang==='EN'">Mobile: </span>
                                                <span ng-bind-html="''+supplier.mobile | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">رقم البطاقة : </span>
                                                <span ng-if="lang==='EN'">Identity Number: </span>
                                                <span ng-if="lang==='AR'" ng-bind-html="''+supplier.identityNumber | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label for="code" class="control-label">
                                            <span ng-if="lang==='AR'">رقم السند</span>
                                            <span ng-if="lang==='EN'">Payment Code</span>
                                        </label>
                                        <input id="code"
                                               type="number"
                                               required=""
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="supplierReceipt.receipt.code">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label for="amountNumber" class="control-label">
                                            <span ng-if="lang==='AR'">المبلغ المدفوع</span>
                                            <span ng-if="lang==='EN'">Payment</span>
                                        </label>
                                        <input id="amountNumber"
                                               type="number"
                                               ng-min="0"
                                               ng-max="supplierReceipt.supplier.remain"
                                               required=""
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="supplierReceipt.receipt.amountNumber">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label for="paymentMethod" class="control-label">
                                            <span ng-if="lang==='AR'">طريقة الدفع</span>
                                            <span ng-if="lang==='EN'">Payment Method</span>
                                        </label>
                                        <select id="paymentMethod"
                                                class="form-control"
                                                required="required"
                                                disable-validation-message=""
                                                ng-model="supplierReceipt.receipt.paymentMethod">
                                            <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                            <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                            <option ng-if="lang==='AR'" value="Check">شيك</option>
                                            <option ng-if="lang==='EN'" value="Check">Check</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label for="checkCode" class="control-label">
                                            <span ng-if="lang==='AR'">رقم الشيك</span>
                                            <span ng-if="lang==='EN'">Check Code</span>
                                        </label>
                                        <input id="checkCode"
                                               type="number"
                                               ng-required="supplierReceipt.receipt.paymentMethod==='Check'"
                                               ng-disabled="supplierReceipt.receipt.paymentMethod!=='Check'"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="supplierReceipt.receipt.checkCode">
                                    </div>

                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="description" class="control-label">
                                        <span ng-if="lang==='AR'">ملاحظات الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Notes</span>
                                    </label>
                                    <textarea id="description"
                                              type="text"
                                              msd-elastic="\n"
                                              class="form-control"
                                              ng-model="supplierReceipt.receipt.note">
                                    </textarea>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">save</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>